
body{
  background: url('../images/abstract-futuristic-geometric-background.jpg') no-repeat center fixed; 
  background-size: cover;
  /* background-repeat: no-repeat; */
  text-align: center !important;
}

h1{
  font-family: 'Lemon', serif !important;
  font-size: 85px !important;
  color: black !important;
  text-shadow: 4px 4px 4px #aaa;
  font-size: 60px;
  margin: 20px;
}

h2 {
  color: white !important;
  /* color: rgb(248, 12, 3) !important; */
}

p{
  font-family: 'BioRhyme+Expanded', cursive;
  font-size: 25px;

}

.topicButton{
	margin: 5px;
}

#topicInput{
	margin-bottom: 5px;
}

#addTopic{
	margin-bottom: 20px;
}


